[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Aaron Bernard
	email = 108689513+AaronAlpha@users.noreply.github.com
